.toolbar-style {
    height: 60pt;
}

.option-bar {
    color: #bbb;
    font-size: 20pt;
    font-weight: bold;
}

.logo-style {
    width: 90pt;
    height: 90pt;
    margin-left: -25pt;
}

.option-bar:hover {
    color: #373737;
    cursor: pointer;
    transition: all 0.5s;   
}

/* PC */
@media screen and (min-width: 600px) {
    
}

/* Telefonos */
@media only screen and (max-width: 600px) {
  
}